<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/style.css">
    <title>Boolzapp</title>
</head>

<body>
    <div id="app">


        <div class="container">
            <div class="row mt-4">
                <!-- inizio colonna lista chat -->
                <div class="col-4 g-0">
                    <!-- prima riga -->
                    <div class="content bg-light height-col ">
                        <div class="prima-linea d-flex justify-content-between bg-light">
                            <div>
                                <img class="rounded-circle" src="./img/avatar_io.jpg" alt="">
                                <span>Sofia</span>
                            </div>
                            <div class="mt-3 pe-3 ">
                                <i class="fa-solid fa-circle-notch" style="color: #9e9e9e;"></i>
                                <i class="fa-solid fa-message" style="color: #9e9e9e;"></i>
                                <i class="fa-solid fa-ellipsis-vertical" style="color: #9e9e9e;"></i>
                            </div>
                        </div>
                        <div class="seconda-riga d-flex p-2">
                            <div>
                                <span class="bell"><i class="fa-solid fa-bell-slash" style="color: #73dae8;"></i></span>
                            </div>
                            <div class="ps-2">
                                <h6>Ricevi notifiche di nuovi messaggi </h6>
                                <p class="text-muted"><u>Attiva notifiche testo</u></p>
                            </div>
                        </div>
                        <div class="search-row">
                            <div class="input-group">
                                <span class="input-group-text border-0" id="search-addon">
                                    <i class="fas fa-search"></i>
                                </span>
                                <input type="search" class="form-control" placeholder="cerca o inizia una nuova chat"
                                    aria-label="Search" aria-describedby="search-addon" />
                            </div>
                        </div>
                        <!-- inizio lista chat -->
                        <div class="chat-container mt-1 ">
                            <div v-for="(contact, index) in contacts" :key="contact.name"
                                class="d-flex bg-light justify-content-between" @click="changeContact(index)">
                                <div class="d-flex">
                                    <span class="avatar ps-2 pt-1">
                                        <img class="rounded-circle" :src="contact.avatar" alt="">
                                    </span>

                                    <div class="ps-2 pt-2">
                                        <h6>{{ contact.name }}</h6>
                                        <p class="text-muted">Ultimo messaggio inviato</p>
                                    </div>
                                </div>
                                <div>
                                    <span class="text-muted ">00:00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- inizio colonna chat grande -->
                <div class="col-8 g-0">
                    <div class="content bg-light height-col">
                        <!-- riga info chat aperta -->
                        <div class="prima-linea d-flex justify-content-between bg-light">
                            <div class="d-flex">
                                <div>
                                    <img class="rounded-circle" :src="contacts[activeContact].avatar" alt="">
                                </div>
                                <div>
                                    <h6>{{ contacts[activeContact].name }}</h6>
                                    <span>
                                        {{ contacts[activeContact].messages[contacts[activeContact].messages.length -
                                        1].date }}
                                    </span>
                                </div>
                            </div>
                            <div class="mt-3 pe-3">
                                <i class="fa-solid fa-circle-notch" style="color: #9e9e9e;"></i>
                                <i class="fa-solid fa-message" style="color: #9e9e9e;"></i>
                                <i class="fa-solid fa-ellipsis-vertical" style="color: #9e9e9e;"></i>
                            </div>
                        </div>

                        <div class="contenitore-chat">
                            <!-- contenitore messagio inviato -->
                            <div v-for="message in contacts[activeContact].messages" :key="message.date "
                                class="d-flex flex-row justify-content-end mb-2 pt-5"
                                >
                                <div v-if="message && message.status === 'sent'">
                                    <p class="small p-2 me-3 mb-3 rounded-3 bg-success bg-gradient-light">
                                        {{ message.message }}
                                    </p>
                                </div>
                            </div>

                            <!-- contenitore messaggio ricevuto -->
                            <div v-for="message in contacts[activeContact].messages" :key="message.date "
                                class="d-flex flex-row justify-content-start pt-4"
                                >
                                <div v-if="message && message.status === 'received'">
                                    <p class="small p-2 me-3 mb-3 rounded-3 bg-warning bg-gradient-light">
                                        {{ message.message }}
                                    </p>
                                </div>

                            </div>
                        </div>

                        <!-- input per invio messaggio -->
                        <div class="input-chat">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text font-size">
                                        <i class="fa-sharp fa-regular fa-face-smile" style="color: #b6b7b9;"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                                <div class="input-group-append">
                                    <span class="input-group-text font-size">
                                        <i class="fa-solid fa-microphone" style="color: #b3b3b3;"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/script.js"></script>
</body>

</html>